.input-icons  {
    position: absolute;
}
  
.input-icons {
    width: 100%;
    margin-bottom: 10px;
}
  
.icon {
    position: absolute;
    padding: 10px;
    min-width: 40px;
}
  
.input-field {
    
    text-align: center;
}