@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--horizontalMargin: 2.5rem;

	--borderRadius: 3.125rem;

	--marginBtwSection: 2.5rem;
	
	--grey300: #d0d5dd;
	--grey500: #667085;
	--grey600: #475467;
	--grey700: #344054;
	--grey900: #101828;

	--primaryGreen500: #1db954;
	--fontSize: 0.75rem;
}
body {
	font-family: "Plus Jakarta Sans";
}

h4 {
	font-weight: 400;
	font-size: 1rem;
	font-weight: 600;
	font-size: 24px;
}

h3 {
	font-weight: 600;
	font-size: 0.75rem;
	color: var(--grey500);
}

h5 {
	font-weight: 700;
	font-size: 1.5rem;
	color: var(--grey900);
}

.subHeader {
	font-weight: 400;
	font-size: 1rem;
	color: var(--grey500);
}
