@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--horizontalMargin: 2.5rem;
	--bgGrey: #101828;
	--greenTextColor: #1db954;
	--borderRadius: 3.125rem;
	--fontSize: 0.75rem;
	--navTextColor: #d0d5dd;
	--marginBtwSection: 2.5rem;
  --greyTextColor:#667085;
  --blackTextColor:#101828;
  --grey600Text:#475467;
}
body {
	font-family: "Plus Jakarta Sans";
}

h4 {
	font-weight: 400;
	font-size: 1rem;
	font-weight: 600;
	font-size: 24px;
}

h3 {
	font-weight: 600;
	font-size: 0.75rem;
  color:var(--greyTextColor) ;
}

h5{
  font-weight: 700;
font-size: 1.5rem;
color:var(--blackTextColor) ;
}

.subHeader {
	font-weight: 400;
	font-size: 1rem;
	color:var(--greyTextColor) ;
}
